:root {
    --color-background: #fafafa;
    --color-foreground: #222;
    --color-font-less-contrast: #bababa;
    --color-hightlight: #bf883b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 80vh;
    display: grid;
    place-items: center;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

main {
    max-width: 500px;
    padding: 3rem 1.4rem;
    animation: intro .4s cubic-bezier(0.49, 0.32, 0.55, 0.94);
}

p {
    line-height: 1.6rem;
}

figure {
    margin-bottom: 1rem;
}

section {
    margin-top: 2.2rem;
}

hgroup {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 1.1rem;
    color: var(--color-font-less-contrast);
}

img {
    max-height: 400px;
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-hightlight);
}

nav {
    margin-top: 2.3rem;
}

nav > a {
    margin-right: 1.8rem;
}

nav > a:hover path {
    fill: var(--color-foreground)
}

nav svg path {
    fill: var(--color-font-less-contrast);
}

@keyframes intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}