---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import Checkbox from "@/components/Checkbox";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const learnings: Array<{ text: string; completionDate?: string; done: boolean }> = [
	{
		text: "Tao of React",
		done: true,
	},
	{
		text: "Make VS Code Awesome",
		done: true,
	},
	{
		text: "Epic React",
		done: true,
	},
	{
		text: "Just Javascript",
		completionDate: "12/02/23",
		done: true,
	},
	{
		text: "Total Typescript - Advanced React with TypeScript 👨‍💻",
		done: false,
	},
	{
		text: "Total Typescript",
		done: false,
	},
	{
		text: "AWS Certified Solutions Architect (SAA-C03)",
		done: false,
	},
	{
		text: "Refactoring UI",
		done: false,
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi, I'm Alex! 👋🏻</h1>
		<p class="mb-4">
			I'm a full stack software engineer based in Melbourne, Australia. I'm especially passionate
			about frontend development, and take pride in my ability to craft high-quality, user-friendly
			experiences.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Learning</h2>
		<div>
			{
				learnings.map(({ text, completionDate, done }) => (
					<Checkbox text={text} subtext={completionDate} done={done} />
				))
			}
		</div>
	</section>
</PageLayout>
